In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/emilypickett/Documents/InstaCart Basket Project'

In [3]:
df_ords_prods_prior = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [4]:
#checking for mixed data
for col in df_ords_prods_prior.columns.tolist():
  weird = (df_ords_prods_prior[[col]].applymap(type) != df_ords_prods_prior[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords_prods_prior[weird]) > 0:
    print (col)

/var/folders/zk/lxc3sp7n5rqf4k_sl172k5xh0000gn/T/ipykernel_47346/722035719.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_prods_prior[[col]].applymap(type) != df_ords_prods_prior[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/zk/lxc3sp7n5rqf4k_sl172k5xh0000gn/T/ipykernel_47346/722035719.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_prods_prior[[col]].applymap(type) != df_ords_prods_prior[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/zk/lxc3sp7n5rqf4k_sl172k5xh0000gn/T/ipykernel_47346/722035719.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_prods_prior[[col]].applymap(type) != df_ords_prods_prior[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/zk/lxc3sp7n5rqf4k_sl172k5xh0000gn/T/ipykernel_47346/722035719.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_prods_prior[[col]].applymap(type) != df_ords_prods_prior[[col]].iloc[0].apply(type)).any(axis = 1)

In [5]:
#counting missing data
df_ords_prods_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [6]:
#finding for full duplicates
df_dups = df_ords_prods_prior[df_ords_prods_prior.duplicated()]

In [7]:
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [8]:
df_ords_prods_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
df_ords_prods_prior.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

In [12]:
#changing order_id datatype to string
df_ords_prods_prior['order_id'] = df_ords_prods_prior['order_id'].astype('str')

In [13]:
#export df_ords data
df_ords_prods_prior.to_csv(os.path.join(path,'Data','Prepared Data','orders_products_prior_check.csv'))