### 4.5 Excersie

In [18]:
#import libraries 
import pandas as pd
import numpy as np
import os

#### Import data

In [19]:
path = r'/Users/emilypickett/Documents/InstaCart Basket Project'

In [20]:
#import order prior csv
df_ords_prior = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_prior_check.csv'), index_col = False)

In [21]:
#import orders.csv
df_ords = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'ords_checks.csv'), index_col = False)

In [22]:
df_ords.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [23]:
df_ords = df_ords.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])

#### Check dimensions

In [24]:
df_ords_prior.head()

   Unnamed: 0  order_id  product_id  add_to_cart_order  reordered
0           0         2       33120                  1          1
1           1         2       28985                  2          1
2           2         2        9327                  3          0
3           3         2       45918                  4          1
4           4         2       30035                  5          0

In [25]:
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [26]:
df_ords_prior.shape

(32434489, 5)

In [27]:
df_ords.shape

(3421083, 7)

#### Merging the data

In [28]:
#merging df_ords_prior and df_ords with a full inner join 
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [29]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,Unnamed: 0,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,24076664,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,24076665,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,24076666,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,24076667,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,24076668,26405,5,0,both

In [30]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [31]:
# Export data to csv

df_merged_large.to_csv(os.path.join(path, 'Data','Prepared Data', 'orders_products_combined.csv'))

In [32]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_combined.pkl'))