In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

#### import data

In [2]:
path = r'/Users/emilypickett/Documents/InstaCart Basket Project'

In [44]:
#import orders_products.pkl
df_orders_products_combined = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [38]:
# checking shape of dataframe
df_orders_products_combined.shape

(32434489, 12)

In [45]:
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,Unnamed: 0,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,24076664,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,24076665,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,24076666,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,24076667,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,24076668,26405,5,0,both

In [21]:
#import products.csv
df_prods = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'products_checks.csv'), index_col = False)

In [14]:
#checking shape
df_prods.shape

(49672, 6)

In [22]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

#### merging data

In [46]:
#dropping colummns in df_orders_products_combined
df_orders_products_combined = df_orders_products_combined.drop(columns = ['Unnamed: 0', '_merge'])

In [47]:
#dropping unnamed columns in df_prods
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [49]:
#Merge df_prods and df_ords_combined
df_ords_prods_merged = df_prods.merge(df_orders_products_combined, on = 'product_id', indicator = True)

In [50]:
df_ords_prods_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both

In [51]:
#comfirming merge using merge flag 
df_ords_prods_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [53]:
#exporting file in pkl
df_ords_prods_merged.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [54]:
df_ords_prods_merged.shape

(32404859, 15)